# Node
node_modules/
dist/
.angular/
.expo/
web-build/
*.tsbuildinfo

# Java
backend/target/
backend/data/
backend/uploads/
*.class

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Env
.env
.env.local
